* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100%;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}
.wrapper__logo {
  display: block;
  width: 60px;
  margin: 4em auto 0;
}
.wrapper__text-primary {
  color: hsl(0deg, 0%, 59%);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2.2em;
}
.wrapper__text-primary-bold {
  color: hsl(209deg, 33%, 12%);
  font-weight: 700;
}
.wrapper__text-secondary {
  color: #000;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1.4em;
}
.wrapper__form {
  margin-top: 2em;
}
.wrapper__form > * {
  display: block;
  width: 100%;
  border: 1.5px solid;
  border-radius: 20px;
  padding: 12px 20px 12px 30px;
}
.wrapper__form__input {
  border-color: hsl(223deg, 100%, 88%);
}
.wrapper__form__input.active {
  border-color: hsl(354deg, 62%, 64%);
}
.wrapper__form__input::-moz-placeholder {
  color: hsl(223deg, 100%, 88%);
}
.wrapper__form__input:-ms-input-placeholder {
  color: hsl(223deg, 100%, 88%);
}
.wrapper__form__input::placeholder {
  color: hsl(223deg, 100%, 88%);
}
.wrapper__form-alert {
  display: none;
  color: hsl(354deg, 62%, 64%);
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 600;
  border: none;
  text-align: center;
  padding: 8px 0;
}
.wrapper__form__btn {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: hsl(223deg, 75%, 65%);
  border-color: hsl(223deg, 75%, 65%);
  box-shadow: rgba(50, 38, 214, 0.25) 0px 5px 24px, rgba(23, 81, 255, 0.22) 0px 10px 10px;
  margin: 0.8em 0 2em;
  cursor: pointer;
}
.wrapper__form__btn:hover {
  color: hsl(209deg, 33%, 12%);
  background-color: hsl(223deg, 100%, 88%);
  border-color: hsl(223deg, 100%, 88%);
}
.wrapper__footer {
  position: absolute;
  right: 50%;
  bottom: 3vh;
  transform: translateX(50%);
}
.wrapper__img {
  display: block;
  margin: 0 auto;
  width: 90%;
}
.wrapper__socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2em;
}
.wrapper__socials__item {
  filter: invert(40%) sepia(92%) saturate(595%) hue-rotate(190deg) brightness(100%) contrast(92%);
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
  width: 40px;
  height: 40px;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}
.wrapper__socials__item:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
.wrapper__socials__item-fb {
  width: 37px;
  height: 37px;
}
.wrapper__copyright {
  color: hsl(0deg, 0%, 59%);
  font-size: 0.7rem;
  text-align: center;
  margin-top: 1.5em;
}

@media only screen and (min-width: 570px) {
  .wrapper {
    width: 60%;
  }
  .wrapper__img {
    width: 70%;
  }
}
@media only screen and (min-width: 730px) {
  .wrapper {
    width: 40%;
  }
  .wrapper__img {
    width: 50%;
  }
}
@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 25%;
  }
  .wrapper__text-primary {
    font-size: 2rem;
  }
  .wrapper__text-secondary {
    font-size: 0.9rem;
  }
  .wrapper__img {
    width: 30%;
  }
}
.attribution {
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
}
.attribution a {
  color: hsl(240deg, 11%, 9%);
}/*# sourceMappingURL=style.css.map */